{% extends "index.html" %}

{% block title %}友情链接 - {{ config.title }}{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/links-bg.jpg")}}')">
	<div class="overlay">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>{{ page.title }}</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock header %}

{% block content %}
<div class="container">
	<div class="row">
	    <div class="col-lg-8 col-md-10 mx-auto">
	        <ul>
	            {% for link in page.extra.links %}
	            <li><a href="{{ link.url | safe }}">{{ link.title }}</a></li>
	            {% endfor %}
	        </ul>
	    </div>
	</div>
</div>
{% endblock content %}